@import 'core.scss';

#container{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
        font-size: 3rem;
        margin: 2rem 0;
    }
    p{
        width: 50%;
        font-size: 3rem;
    }
}