#contact {
    transition: background-color 300ms ease-in-out,
                color 300ms ease-in-out;
    text-align: center;
    background-color: color(background-main);
    color: color(dark);

    .build-version {
        position: fixed;
        float: right;
        opacity: 0.2;
        cursor: default;
        transition: color 300ms ease-in-out,
                    opacity 300ms ease-in-out;
        color: color(dark);
        user-select: none;
        pointer-events: none;
        z-index: 99999;
        top: 50%;
        left: 50%;
        font-size: 2.5rem;
        font-weight: 700;
        transform: translate(-50%, -50%);
    }

    .container {
        padding-top: 3rem;
        .title {
            display: block;
            transition: color 300ms ease-in-out;
            color: color(dark);
            font-size: 3rem;
            margin-bottom: 1rem;
            font-weight: 700;
        }

        .description {
            opacity: .7;
            padding-bottom: 2rem;
        }

        .form-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 2rem;
            form {
                width: 100%;
                margin-bottom: 1rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(6, auto);
                grid-template-areas:
                "title title"
                "email email"
                "phone phone"
                "message message"
                "submit submit"
                "privacy privacy";
                grid-row-gap: 1rem;
                input, textarea {
                    width: 100%;
                    border-radius: $br;
                    text-align: left;
                    font-size: .9rem;
                    padding: .75rem 1.25rem;
                    color: color(dark);
                    background-color: color(text-main);
                    border: 2px solid darken(color(text-main), 5);
                    transition: all 300ms ease-in-out;
                    font-family: "Source Sans Pro";
                    &:focus {
                       outline: none;
                       border-color: color(accent);
                    }
                }
                .input-title {
                    grid-area: title;
                }
                .input-email {
                    grid-area: email;
                }
                .input-tel {
                    grid-area: phone;
                }
                .input-message {
                    height: 6.5rem;
                    min-width: 100%;
                    max-width: 100%;
                    resize: none;
                    grid-area: message;
                }
                .input-button {
                    grid-area: submit;
                    font-family: "Source Sans Pro";
                    width: 100%;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    padding: 1.25rem 1.75rem;
                    transition: color 300ms ease-in-out,
                                background-color 100ms ease-in-out;
                    color: color(text-main);
                    background-color: color(accent);
                    border-radius: $br;
                    font-size: 1rem;
                    &[disabled] {
                        filter: grayscale(100);
                        cursor: default;
                        opacity: .3;
                    }
                    &:active,
                    &:hover {
                        background-color: darken(color(accent), 10);
                    }
                }
                .input-error {
                    border-color: #f44336;
                }
                .input-privacy {
                    grid-area: privacy;
                    font-size: .65rem;
                    transition: color 300ms ease-in-out;
                    color: rgba(color(dark), .3);
                    a {
                        transition: color 300ms ease-in-out;
                        text-decoration: none;
                        color: rgba(color(dark), .8);
                    }
                }
            }
            .right-nav {
                text-align: left;
                .nav-post {
                    &:first-child {
                        padding-bottom: 2rem;
                    }
                    .nav-title {
                        font-weight: 900;
                        font-size: 2rem;
                        padding-bottom: 1rem;
                    }
                    .nav-description {
                        font-weight: 400;
                        font-size: 1rem;
                        span {
                            display: flex;
                            margin-bottom: 1rem;
                            align-items: center;
                        }
                        .icon-container {
                            width: 2.5rem;
                            height: 2.5rem;
                            padding: .75rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: darken(color(text-main), 5);
                            transition: background 300ms ease-in-out;
                            border-radius: 50%;
                            margin-right: .5rem;
                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .contact-link {
                            text-decoration: none;
                            color: lighten(color(accent), 20);
                        }
                    }
                }
            }
        }
    }
}

.dark-theme {
    #contact {
        background-color: color(dark);
        color: color(text-main);
        .build-version {
            color: color(text-main);
            opacity: 0.05;
        }
        .container {
            .title {
                color: color(text-main);
            }
            .form-grid {
                form {
                    input, textarea {
                        background-color: lighten($color: #1d1e22, $amount: 10);
                        border-color: lighten($color: #1d1e22, $amount: 15);
                        color: color(text-main);
                        &:focus {
                            border-color: color(accent);
                        }
                    }
                }
                .input-error {
                    border-color: #f44336;
                }
                .input-privacy {
                    color: rgba(color(text-main), .3);
                    a {
                        color: rgba(color(text-main), .8);
                    }
                }
                .right-nav {
                    .nav-post {
                        .nav-description {
                            .icon-container {
                                background: lighten(color(dark), 5);
                            }
                            .nav-link {
                                color: color(accent);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #contact {
        .container {
            .form-grid {
                grid-template-columns: 1fr 1fr !important;
                form {
                    width: 100%;
                    grid-template-rows: repeat(5, auto) !important;
                    grid-gap: 1rem !important;
                    grid-template-areas:
                    "title title"
                    "email phone"
                    "message message"
                    "submit submit"
                    "privacy privacy";
                    .input-message {
                        height: 10rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    #contact {
        .container {
            .form-grid {
                .right-nav {
                    .nav-description {
                        display: grid;
                        grid-template-columns: 1fr 1fr; 
                    }
                }
            }
        }
    }
}