/*CORE*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');
html, body{
    margin: 0;
    color: color(dark);
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;

    .dark-theme {
        background-color: color(dark);
        color: color(text-main);
    }
}

*,*::before,*::after{
    box-sizing: border-box;
}

/*CORE ELEMENTS*/
.container {
    width: 100%;
    padding: 0 2rem;
    margin-left:auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}