header{
    text-align: center;
    background-color: red;
    height: 100vh;
    padding: 0 1rem;
}

#nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    img{
        width:10rem;
        height: auto;
    }
}

#hero__container{
    height: calc(100% - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
