header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: transparent;
    transition: background 250ms ease-in-out;
    height: 75px;
    z-index: 100;
    display: flex;
    &.header-scrolled {
        background:#27292e;
    }
}

#nav{
    position: relative;
    height: 100%;
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding: 1rem 4rem;

    .logo {
        width: auto;
        height: 80%;
        padding: .5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 100%;
            width: auto;
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
            padding: 0.75rem 0 0.75rem 1.25rem;
            margin: 0 .5rem;
            span {
                position: relative;
                padding: 0.25rem;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    transform-origin: center;
                    transform: scale(0);
                    border-radius: 2px;
                    background-color: color(text-main);
                    transition: transform 250ms ease-in-out;
                }
                &:hover::after {
                    transform: scale(1);
                }
            }
        }
        .header-button {
            outline: none;
            border: none;
            color: white;
            cursor: pointer;
            font-size: .95rem;
            // font-family: 'Source Sans Pro', sans-serif;
            background-color: transparent;
            transition: color .3s ease-in-out;
            
            &:hover {
                color: whitesmoke;
            }
        }
        .panel-login {
            transition: opacity .3s ease-in-out;
            outline: none;
            background-color: color(accent);
            border: none;
            padding: 0.75rem 1.5rem;
            // margin-left: 1.75rem;
            color: white;
            border-radius: 6px;
            filter: none;
            cursor: pointer;
            font-size: 1rem;
            opacity: 1;
            font-family: 'Source Sans Pro', sans-serif;
            transition: background-color 250ms ease-in-out;
            &:hover {
                background-color: darken(color(accent), 10);
            }
        }
        .panel-login[disabled] {
            filter: grayscale(100);
            cursor: default;
            opacity: .3;
        }
    }
}
@media (max-width: 1200px) {
    #nav {
        ul {
            a {
                padding: 0;
                span {
                    padding: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 840px) {
    .dark-theme {
        #nav {
            ul {
                background-color: color(dark);
                a {
                    span {
                        color: color(text-main) !important;
                    }
                }
            }
        }
    }
    #nav {
        width: 100%;
        .nav__menu-open {
            display: block;
            position: relative;
            width: 2rem;
            height: 2rem;
            &.menu--opened {
                .bar {
                    background: darken(color(accent),5);
                    &:nth-child(1) { //500+
                        transform: rotate(45deg);
                        top: 50%;
                        left: 0;
                        position: absolute;
                    }
                    &:nth-child(2) { //1000+
                        opacity: 0;
                    }
                    &:nth-child(3) { //1500+
                        transform: rotate(-45deg);
                        top: 50%;
                        left: 0;
                        position: absolute;
                    }
                }
            }
            .bar {
                transition: all 450ms ease-in-out;
                background: color(text-main);
                width: 2rem;
                height: 3px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                opacity: 1;
                &:nth-child(1) {
                    transform: translate(-50%, -350%);
                }
                &:nth-child(3) {
                    transform: translate(-50%, 250%);
                }
            }
            cursor: pointer;
            z-index: 102;
        }
        ul {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            transition: background-color 300ms ease-in-out;
            background-color: color(background-main);
            opacity: 1;
            display: none;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            margin: 0;
            z-index: 100;
            padding: 0;
            transform: translateX(101%);
            transition: background-color 300ms ease-in-out, 
                        transform 650ms cubic-bezier(0.645, 0.045, 0.355, 1), 
                        color 300ms ease-in-out;
            a {
                padding: .75rem 1.25rem;
                span {
                    transition: color 300ms ease-in-out;
                    font-size: 1.25rem !important;
                    padding: .75rem 1.25rem;
                    color: color(dark) !important;
                    position: relative;
                    &::after {
                        display: none;
                    }
                }
            }
            .panel-login {
                margin-left: 0;
                font-size: 1.25rem !important;
                margin-top: .5rem;
            }
            &.menu--opened {
                transform: translateX(0);
            }
        }
        .logo {
            width: auto;
            height: 75%;
        }
    }
}

// @media (orientation: landscape) and (max-height: 540px) {
//     body {
//         display: block !important; // c: jak ktos jest <b>debilem</b> i uzywa na mobile'u landscape *triggered*
//         overflow: hidden !important;
//         width: 100vw;
//         height: 100vh;
//         &::before {
//             z-index: 998;
//             display: block;
//             position: fixed;
//             content: "";
//             top: 0%;
//             left: 0%;
//             width: 100%;
//             height: 100vh;
//             background-color: color(dark);
//         }
//         &::after {
//             z-index: 999;
//             display: block;
//             position: fixed;
//             text-align: center;
//             content: "obróć ten telefon -- jesteś debilem nikt nie przegląda stron na landscape'ie";
//             top: 50%;
//             padding: 1rem;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             font-size: 2rem;
//             color: color(text-main);
//         }
//         // transform: scaleX(-1) scaleY(-1); omega troll
//     }
// }