.informations__background {
    transition: background-color 300ms ease-in-out;
    background-color: #f4f4f4;
    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        transition: background-color 300ms ease-in-out;
        background-color: #f4f4f4;
        text-align: center;
        .section__name {
            display: block;
            transition: color 300ms ease-in-out;
            color: #1d1e22;
            text-align: center;
            font-size: 3rem;
            margin-bottom: 1rem;
            font-weight: 900;
        }

        .companies__quotes {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            grid-row-gap: 2rem;
            .quote__container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: background-color 300ms ease-in-out;
                background: darken(#f4f4f4, 10);
                padding: 1rem;
                border-radius: .25rem;
                .quote__span {
                    font-size: 1rem;
                    width: 100%;
                }
                .quote__profile {
                    display: grid;
                    justify-content: center;
                    margin-top: 1rem;
                    align-items: center;
                    grid-template-columns: 1fr 2fr;
                    grid-template-rows: 60px;
                    grid-column-gap: 1rem;
                    a {
                        display: flex;
                        align-items: flex-start;
                    }
                    .quote__company {
                        width: 100%;
                    }
                    .selleo__a {
                        height: 60px;
                        width: 100%;
                    }
                    #selleo {
                        width: 100%;
                        height: 100%;
                        background-image: url("/img/companies/black_selleo.png");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    #exp, #wsiz {
                        width: 50px;
                        height: 50px;
                        margin-left: 0.75rem;
                    }
                    .quote__person {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        flex-direction: column;
                        text-align: left;
                        a {
                            text-decoration: none;
                            color: inherit;
                            text-align: right;
                        }
                        .quote__author {
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        .quote__desc {
                            font-size: 1rem;
                            font-size: 200;
                            opacity: .5;
                        }
                    }              
                }
            }
        }

    }
}

.dark-theme {
    .informations__background {
        background-color: #1d1e22;
        .container {
            background-color: #1d1e22;
            .section__name {
                color: #eaeaea;
            }
        }
        .companies__quotes {
            .quote__container {
                background: lighten(#1d1e22, 10);
                .quote__profile {
                    #selleo {
                        background-image: url("/img/companies/selleo.png") !important;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}

@media (min-width: 840px) {
    .companies__quotes {
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        grid-gap: 2rem !important;
        position: relative;
        &::after {
            content: "\201D";
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 300ms ease-in-out;
            color: #1d1e22;
            box-shadow: 0 0 10px rgba(#222, .25);
            border-radius: 50%;
            font-size: 5rem;
            background: darken(#f4f4f4, 10);
        }
        // &::after {
        //     content: "\201D";
        //     width: 4rem;
        //     height: 4rem;
        //     position: absolute;
        //     top: -3rem;
        //     right: 0rem;
        //     opacity: 1;
        //     transform: rotate(-25deg);
        //     font-size: 12rem;
        //     opacity: .4;
        // }
    }
    .dark-theme {
        .companies__quotes {
            &::after {
                box-shadow: 0 0 15px #222;
                background: lighten(#1d1e22, 10);
                color: #eaeaea;
            }
        }
    }
}