#reasons {
    padding-bottom: 2rem;
    transition: background-color 300ms ease-in-out;
    background-color: #f4f4f4;
    .container {
        transition: background-color 300ms ease-in-out;
        background-color: #f4f4f4;
        text-align: center;

        .title {
            display: block;
            transition: color 300ms ease-in-out;
            color: #1d1e22;
            font-size: 3rem;
            margin-bottom: .25rem;
            font-weight: 700;
        }
    }
}

.dark-theme {
    #reasons {
        background-color: #1d1e22;
        .container {
            background-color: #1d1e22;
            .title {
                color: #eaeaea;
            }
        }
    }
}