#reasons {
    .container {
        transition: background-color 300ms ease-in-out;
        background-color: color(background-main);
        text-align: center;

        .title {
            display: block;
            transition: color 300ms ease-in-out;
            color: color(dark);
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.dark-theme {
    #reasons {
        .container {
            background-color: color(dark);
            .title {
                color: color(text-main);
            }
        }
    }
}