$colors: (
    text-main: #eaeaea,

    dark: #1d1e22,

    background-main: #f4f4f4,

    old-accent: #115EF8,
    accent: #3F51B5,

    green: #2fb350,
    red: #e74a42,
    
    errorRed: #f44336
);

$br: 6px;

$font: "Source Sans Pro";

@function color($color) {
    @return map-get($colors, $color);
}