/*CORE*/
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');
html,
body {
    margin: 0;
    color: color(dark);
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    overflow-x: hidden;
    font-family: $font;
    user-select: none;
    min-height: 100vh;
    z-index: -1;

    background-color: color(background-main);

    .dark-theme {
        background-color: color(dark);
        color: color(text-main);
    }
}
html.disable-scroll {
  overflow-y: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input, input:focus, input:active {
  box-shadow: none !important;
}

/*CORE ELEMENTS*/
.noTransition, .noTransition * {
  transition: none !important;
}
.error__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  .error__whilst__loading {
    text-align: center;
    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .error__svg {
      width: 90px;
      height: 90px;
      stroke: transparent;
      fill: color(red);
      opacity: .85;
    }
    .error__message {
      opacity: 0.85;
      font-size: 1.5rem;
      width: 60%;
      margin: 1.5rem auto 0 auto;
      color: color(red);
    }
  }
}
.loader__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pti__loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  text-align: center;
  background: color(dark);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .loader__text {
    opacity: .85;
    font-size: 1.25rem;
    margin-bottom: .75rem;
  }
  .loader__svg {
    width: 100px;
    height: 100px;
    stroke: color(accent);
  }
}
.container {
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }