$colors: (
    text-main: #eaeaea,
    text-secondary: null,

    dark: #1d1e22,

    background-main: #f4f4f4,
    background-secondary: null,
    scroll-color: null,

    old-accent: #115EF8,
    accent: #3F51B5
);

$br: 6px;

$font: "Source Sans Pro";

@function color($color) {
    @return map-get($colors, $color);
}