footer {
    background-color: color(background-main);
    color: color(dark);
    transition: color 300ms ease-in-out,
                background-color 300ms ease-in-out;

    .build-version {
        position: fixed;
        float: right;
        opacity: 0.2;
        cursor: default;
        transition: color 300ms ease-in-out,
                    opacity 300ms ease-in-out;
        color: color(dark);
        user-select: none;
        pointer-events: none;
        z-index: 99999;
        top: 50%;
        left: 50%;
        font-size: 2.5rem;
        font-weight: 700;
        transform: translate(-50%, -50%);
    }
}

.dark-theme {
    footer {
        .build-version {
            color: color(text-main);
            opacity: 0.05;
        }
        background-color: color(dark);
        color: color(text-main);
    }
}