#form {
    width: 100%;
    min-height: 100vh;
    color: color(dark);
    display: flex;
    flex-direction: column;
    position: relative;


    .information {
        padding: .75rem 1.5rem;
        background-color: darken(color(green), 5);
        font-size: 1rem;
        margin-bottom: 1rem;
        color: color(text-main);
        border-radius: $br;
        text-align: center;
        // position: absolute;
        // top: 1.5rem;
        // right: 1.5rem;
    }

    a {
        z-index: 20;
    }

    .form-grid {
        width: 100%;
        .row__name {
            grid-column: span 2;
            font-size: 1.125rem;
            text-align: left;
            font-weight: 700;
            padding-bottom: .325rem;
            border-bottom: 2px solid lighten(color(dark), 10);
        }
        .row__name ~ .row__name {
            margin-top: 1rem;            
        }
        form {
            width: 100%;
            // margin-bottom: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(7, auto);
            grid-gap: 1rem;
            input, textarea {
                width: 100%;
                border-radius: $br;
                text-align: left;
                font-size: .9rem;
                padding: .75rem 1.25rem;
                color: color(dark);
                background-color: color(text-main);
                border: 2px solid darken(color(text-main), 5);
                transition: all 300ms ease-in-out;
                font-family: $font;
                &:focus {
                    outline: none;
                    border-color: color(accent);
                }
            }
            .input__error {
                border-color: color(errorRed) !important;
            }
        }
    }
    .personal__info__container {
        width: 80%;
        .input__container {
            position: relative;
        }
    }
    
    // .info {
    //     font-size: .75rem;
    //     position: absolute;
    //     top: 1rem;
    //     left: 1rem;
    //     opacity: 0;
    //     transition: opacity 250ms ease-in-out;
    //     &.show {
    //         opacity: 1;
    //     }
    //     .link {
    //         margin-left: 4px;
    //         cursor: pointer;
    //         opacity: 1;
    //         transition: color 250ms ease-in-out;
    //         color: color(accent);
    //         &:hover {
    //             color: lighten(color(accent), 10);
    //         }
    //     }
    // }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: relative;
        // width: 80%;
        // margin: 0 auto;
        .inner__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .animated__buttons {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .logo {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            img {
                width: auto;
                height: 40px;
            }
        }
        .stage {
            height: auto;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            #summary {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90%;
                width: 80%;
                flex-direction: column;
                .summary__container {
                    display: grid;
                    height: 85%;
                    width: 100%;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem 2rem;
                    grid-template-rows: repeat(5, auto);
                    .summary_inner__container:first-child {
                        grid-column: span 2;
                    }
                    .category__name {
                        font-size: 0.875rem;
                        text-align: left;
                        font-weight: 700;
                        padding-bottom: .325rem;
                        border-bottom: 2px solid lighten(color(dark), 10);
                        // opacity: .7;
                    }
                    .category__value {
                        padding-top: .5rem;
                        text-align: left;
                        font-size: 1.125rem;
                        word-break: break-all;
                    }
                }
            }
            .stage__container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
        .progress {
            opacity: .5;
            font-size: 1rem;
            margin-bottom: .25rem;
        }
        .formState {
            color: rgba(color(dark), .5);
            margin-bottom: 1rem;
        }
        .title {
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 2rem;
            display: inline-block;
            padding: .75rem 1.5rem;
            background: darken(color(text-main), 5);
            border-radius: $br;
        }
        .tiles {
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: repeat(4, minmax(150px, 1fr));
            margin: 0 1rem;
            grid-template-rows: 1fr;
            grid-gap: 2rem;
            .tile {
                border-radius: $br;
                padding: 1.5rem;
                border: 2px color(accent) solid;
                box-shadow: 0 0 0 color(accent);
                display: flex;
                text-align: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                box-shadow: none;
                transition: box-shadow 250ms ease-in-out,opacity 250ms ease-in-out,transform 250ms ease-in-out;
                position: relative;
                opacity: .5;
                cursor: pointer;
                z-index: 1;
                &::after {
                    content: ''; //bg btw
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to right, lighten(color(accent), 5), darken(color(accent), 5));
                    opacity: 0;
                    transition: opacity 250ms ease-in-out; //maybe easing change to S..?
                    z-index: -1;
                }
                &:hover {
                    box-shadow: 0px 0px 15px color(accent);
                    opacity: 1;
                    transform: translateY(-5px);
                }

                &.selected {
                    box-shadow: 0px 0px 15px color(accent);
                    opacity: 1;
                    color: color(text-main);
                    .selectedOption {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 1;
                    }
                    &:hover {
                        transform: translateY(0);
                    }
                }
                
                .selectedOption {
                    width: 25px;
                    height: 25px;
                    padding: .5rem;
                    position: absolute;
                    opacity: 0;
                    display: flex;
                    transition: opacity 250ms ease-in-out;
                    top: .5rem;
                    right: .5rem;
                    background: color(text-main);
                    border-radius: 50%;
                    svg {
                        height: 100%;
                        width: 100%;
                        color: color(accent);
                    }
                }
                .name {
                    font-weight: 600;
                }
                .icon {
                    width: 60%;
                    height: 100%;
                    padding: 0.5rem;
                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
                
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            .button {
                display: inline-flex;
                padding: .75rem 2.5rem;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-weight: 600;
                border-radius: $br;
                height: 3rem;
                transition: background 250ms ease-in-out, opacity 250ms ease-in-out;

                &.disabled {
                    opacity: .5;
                    pointer-events: none;
                }
                
                .arrow {
                    height: 100%;
                    width: 15px;
                    display: flex;
                    color: color(text-main);
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 100%;
                        height: 100%;
                        color: color(text-main);
                    }
                }
                .text {
                    color: color(text-main);
                }
                &.next {
                    background: lighten(color(accent), 5);
                    & .text {
                        margin-right: 3rem;
                    }
                    & {
                        padding: .25rem 1rem;
                    }
                    &:hover {
                        background: color(accent);
                    }
                    &.submit {
                        background: color(green);
                        &:hover {
                            background: darken(color(green), 5);
                        }
                    }
                }
                &.prev {
                    opacity: 0.5;

                    .disabled {
                        display: none;
                    }
                    // margin-right: 1rem;
                    & .text {
                        margin-left: 1rem;
                        color: color(dark);
                    }
                    .arrow {
                        svg {
                            color: color(dark);
                        }
                    }
                    & {
                        padding: .75rem 3rem .75rem 1rem;
                    }
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
            .button + .button {
                margin-left: 1rem;
            }
        }

        .state {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 1rem;
            
            .icon {
                margin-bottom: 2rem;
                width: 180px;
                height: 180px;
                padding: 2rem;
                border-radius: 50%;
                color: color(background-main);
                display: flex;
                align-items: center;
                justify-content: center;
                &.error {
                    background-color: color(red);
                }
                &.success {
                    background-color: color(green);
                }
                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }
}

@media (max-height: 475px) and (min-width: 770px) {
    #form {
        .information {
            display: none;
        }
    }
}

@media (max-height: 520px) and (min-width: 770px) {
    #form {
        .information {
            position: absolute !important;
            top: 1.25rem;
            right: 1.25rem;
        }
    }
}

@media (max-width: 768px) {
    #form {
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: auto;
            width: 100%;
            padding: 1.5rem;
            position: relative;
            .inner__container {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .information {
                    position: relative;
                    padding: 0.5rem 1.25rem;
                    font-size: 0.75rem;
                    margin: 1rem 0 0 0;
                    padding: .75rem 1.5rem;
                }
                .stage {
                    height: auto;
                    width: 100%;
                    margin-top: .75rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    #summary {
                        height: auto;
                        .summary__container {
                            display: grid;
                            height: auto;
                            width: 100%;
                            grid-template-columns: 1fr;
                            grid-gap: 1rem;
                            grid-template-rows: repeat(11,auto);
                            .summary_inner__container:first-child {
                                grid-column: span 1;
                            }
                        }
                    }
                    .personal__info__container {
                        width: 85%;
                        .form-grid {
                            .row__name {
                                grid-column: span 1;
                            }
                            form {
                                grid-template-columns: 1fr;
                                grid-template-rows: repeat(11, auto);
                            }
                        }
                    }
                }
            }
            .title {
                font-size: 1.125rem;
            }
            .logo {
                left: 50%;
                position: relative;
                top: 0;
                transform: translateX(-50%);
            }
            .formState {
                margin-top: 2rem;
            }
            .tiles {
                grid-template-columns: repeat(2,minmax(75px,175px));
                grid-template-rows: 1fr 1fr;
                grid-gap: .75rem;
                .tile {
                    padding: 0.75rem !important;
                }
                .name {
                    font-size: 0.8rem;
                }
                .tile:not(.selected):hover {
                    box-shadow: none !important;
                    opacity: 1 !important;
                    transform: none !important;
                }
            }
            .buttons {
                .button.prev {
                    padding: .75rem 2rem .75rem 1rem !important;
                }
                .button.next {
                    .text {
                        margin-right: .75rem !important;
                    }
                }
            }
        }
    }
}

.dark-theme {
    #form {
        color: color(text-main);
        .form-grid {
            form {
                input, textarea {
                    background-color: lighten($color: #1d1e22, $amount: 10);
                    border-color: lighten($color: #1d1e22, $amount: 15);
                    color: color(text-main);
                    &:focus {
                        border-color: color(accent);
                    }
                }
            }
        }

        .container {
            .formState {
                color: rgba(color(text-main), 0.5)
            }
            .title {
                background: lighten(color(dark), 5);
                color: color(text-main);
            }
            .buttons {
                .button {
                    &.prev {
                        .arrow {
                            svg {
                                color: color(text-main);
                            }
                        }    
                    }
                    .text {
                        color: color(text-main);
                    }
                }
            }
        }
    }
}