div#application-intro {
    margin-top: calc(75px + 1rem);
    background: linear-gradient(to right, lighten(color(accent), 10), lighten(color(accent), 20));
    // transition: background 250ms ease-in-out;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $br;
    font-size: 1.75rem;
    // filter: hue-rotate(110deg);
}
.dark-theme {
    div#application-intro {
        background: linear-gradient(to right, color(accent), lighten(color(accent), 10));
    }
}