@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1d1e22;
    color: #eaeaea;
    margin: 0;
}

.noscript__container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.noscript_image__container {
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: auto;
    width: 100%;
    max-width: 300px;
}

.noscript_information {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 700px) {

}