div#news-page {
    margin-top: 75px;
    padding-top: 1rem;
    min-height: 100vh;
    div.title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 900;
    }
    .article__absolute__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100vw - 75px);
    }
}