#tiles {
	padding-top: 3rem;
	width: 100%;

	transition: background-color 300ms ease-in-out;
    background-color: color(background-main);

	.container {

		transition: background-color 300ms ease-in-out;
		background-color: color(background-main);
		
		.row {
			height: auto;
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			transition: background-color 300ms ease-in-out;
			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			// first row
			.title-tile {
				position: relative;
				width: 100%;
				padding: 2rem;
				transition: background-color 300ms ease-in-out;
				background-color: darken(color(background-main), 15);
				border-radius: $br;
				display: flex;
				align-items: center;
				justify-content: center;
				.text__tile {
					font-weight: 600;
					font-size: 1.3rem;
				}
			}
			.video-tile {
				width: 100%;
				height: 250px;
				.video-iframe {
					height: 100%;
					width: 100%;
					border: none;
					outline: none;
					border-radius: $br;
					z-index: -1000;
					pointer-events:none;
				}
			}

			// second row
			.tile-container {
				position: relative;
				width: 100%;
				color: color(text-main);
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1rem;
				flex-direction: column;
				border-radius: $br;
				transition: background-color 250ms ease-in-out;
				background-color: rgba(black, .65);
				opacity: 1;
				background-blend-mode: multiply;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				margin-bottom: 2rem;
				&:nth-child(3),
				&:nth-child(4) {
					margin-bottom: 0;
				}
				&:hover {
					background-color: rgba(black, .75) !important;
				}

				.text__tile-title {
					top: 0;
					text-transform: uppercase;
					font-weight: 900;
					font-size: 1.2rem;
				}
				
				.text__tile-checkit {
					letter-spacing: 0.325rem;
					text-transform: uppercase;
					font-size: 1.8rem;
					font-weight: 700;
				}
				&#classes {
					background-image: url("/img/tiles/1.jpg");
				}
				&#patronage {
					background-image: url("/img/bg.jpg");
				}
				&#technician {
					background-image: url("/img/tiles/2.jpg");
				}
				&#patronage1 {
					background-image: url("/img/tiles/3.jpg");
				}
			}

			// third row
			div#patronage1 {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.dark-theme {
	#tiles {
		background-color: color(dark);
		.container {
			background-color: color(dark);
			.row  {
				.title-tile {
					background-color: lighten(color(dark), 10);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#tiles {
		.container {
			.row {
				flex-direction: row;
				.tile-container {
					margin: 0;
					&:not(:last-child) {
						margin-right: 1rem;
					}
				}
				.title-tile {
					margin-right: 1rem;
					width: 100%;
				}
				.video-tile {
					width: 50%;
					height: 175px;
				}
			}
		}
	}
}